#tieude{
    font-size: 40px;
    color: rgb(220, 68, 68);
    
}
.link{
    float: right;
    color: green;
}
.box{
    background-color: rgb(250, 233, 135);
}
.box1{
    background-image: url('https://github.com/AnhThuwu7/bai4/blob/main/download-removebg-preview%20(5).png?raw=true');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
